{% extends 'myapp/base.html' %}

{% block body_block %}

    {% if course %}
        {%  if flag == 0 %}
        <h2>List of Courses</h2>
        <ol>
            {% for c  in course %}
                <li> <a href="/myapp/{{ c.course_no }}" >{{ c.title}}</a> </li>
            {% endfor %}
        </ol>

        {% block mycourse %} {% endblock %}
        {% elif flag == 1 %}
        <p> You are not a student! </p>

    {% endif %}

 {% endif %}
    {%  block register %}{% endblock %}
{# <h3><a href="{%url 'myapp:about' %}">About page</a></h3>#}
{% block course %} {% endblock %}
{% endblock %}
